[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease;
  will-change: opacity, transform;

  
  transition-duration: 400ms; 
  transition-delay: 0ms; 
}


[data-aos][data-aos-duration] {
  transition-duration: attr(data-aos-duration ms);
}

[data-aos][data-aos-delay] {
  transition-delay: attr(data-aos-delay ms);
}


[data-aos="zoom-in-left"] {
  transform: translateX(-50px);
}

[data-aos="zoom-in-left"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}